
* {
    margin: 0;
    padding: 0;
}

.book{
    padding:10px;
    height:auto;
    overflow:hidden;
    background-color: #ebe0e7
}

.bookimg{
    float:left;
    margin:10px;
    padding:10px;
    width:200px;
}

.bookimg img{
    vertical-align: middle ;
    width:130px;
}

.order_info{
    width:60%;
    margin-right: 0px;
    margin-left:210px;
    margin-top:10px;
    padding:10px;

}
